span.phone{
	font-family: 'Mau CanIPA Venetan';
	font-size: 15pt;
}

section.input{
	input.text-input{
		margin-top: 2px;
		margin-bottom: 18px;
	}

	div.text-input-button{
		margin-top: 12px;
		text-align: center;
	}
}
