/build
/nbproject
/public_html/app/all.js
/public_html/app/tools/lang/GrammarLearner.js
/public_html/app/tools/lang/data/ElGalepinExtractor.html
/public_html/app/tools/lang/data/ElGalepinExtractor.php
/public_html/app/tools/lang/data/dialectInquirer.txt
/public_html/test/other/
/public_html/test/test.html
/public_html/googlefcba0e2b6cd42fc8.html