h1 {
  font-size: 38px;
  font-weight: bold;
  text-align: center; }

.container-inner {
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border-color: #C6C6C6;
  border-style: solid;
  border-width: 1px;
  padding: 16px 10px 16px 10px;
  margin: 20px;
  display: block; }

p.alphabet {
  margin-left: 1em; }

table.alphabet {
  border-collapse: collapse;
  border: none;
  font-size: 13pt;
  margin: auto; }
  table.alphabet td {
    padding: 0 0.3em 0 0.3em;
    text-align: center; }
  table.alphabet tr.phoneme th {
    font-family: 'Mau CanIPA Venetan';
    font-weight: normal;
    font-size: 15pt; }
  table.alphabet span.unseen {
    color: red;
    font-weight: bold; }
  table.alphabet span.seen {
    color: #376092; }

span.phoneme {
  font-family: 'Mau CanIPA Venetan';
  font-weight: normal;
  font-size: 15pt; }

@media only screen and (max-width: 1279px) {
  tr.phoneme td {
    font-size: 13pt;
    padding: 0 0.25em 0 0.25em; } }
@media only print {
  body, span.unseen, span.seen {
    font-size: small; }

  table.alphabet {
    font-size: 11pt; }
    table.alphabet tr.phoneme td {
      font-size: 7pt; }
    table.alphabet span.phoneme {
      font-size: 9pt; } }
