span.word-syllabe-ok {
  color: #000; }

span.word-syllabe-error {
  color: #F00; }
  span.word-syllabe-error span.syllabe-error {
    font-weight: bold; }

div.phone, span.phone {
  font-family: 'Mau CanIPA Venetan';
  font-size: 14pt; }

dd span.phone {
  font-weight: bold; }
