@import "../library.scss";


/** This cover prevents interaction with the content while a dialog is open */
.alerter-cover {
	position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	filter: alpha(opacity = 0);
	opacity: 0;
}
.alerter-cover-hidden {
	display: none;
}

/** Parent container for all dialog messages */
.alerter { }
.alerter-position {
	position: fixed;
	z-index: 99999;
	top: 50px;
	left: 50%;
	width: 550px;
	margin-left: -275px;
	opacity: 1;
}
.alerter-show, .alerter-log {
	@include experimental(transition, all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275));
}
.alerter-el-log {
	@include experimental(transition, all 300ms ease-in);
}
.alerter-hide {
	@include experimental(transition, all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045));
}
.alerter-log-hide {
	@include experimental(transition, all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045));
}
.alerter-el-log-hide {
	@include experimental(transition, all 200ms ease-in);
}
.alerter-hidden {
	@include experimental(transform, translate(0, -150px));
	opacity: 0;
	display: none;
}
/* overwrite display: none; */
:root *> .alerter-hidden {
	display: block;
	visibility: hidden;
}
.alerter-logs {
	position: fixed;
	z-index: 5000;
	bottom: 10px;
	right: 10px;
	width: 300px;
}
.alerter-el-logs {
	position: absolute;
	z-index: 4500;
	margin-top: 2px;
}
.alerter-logs-hidden {
	display: none;
}
.alerter-log {
	cursor: pointer;
	display: block;
	margin-top: 10px;
	position: relative;
	right: -300px;
	opacity: 0;
}
.alerter-log-show {
	right: 0;
	opacity: 1;
}
.alerter-log-hide {
	@include experimental(transform, translate(300px, 0));
	opacity: 0;
}
.alerter-el-log {
	cursor: pointer;
	display: block;
	overflow-y: hidden;
	max-height: 0;
	padding: 0 15px 0 15px !important;
}
.alerter-el-log-show {
	max-height: 5em;
	padding: 15px !important;
}
.alerter-el-log-hide {
	max-height: 0;
	padding: 0 15px 0 15px !important;
}
.alerter-dialog {
	padding: 25px;
}
.alerter-inner {
	text-align: center;
}
.alerter-title { }
.alerter-text, .alerter-textarea {
	margin-bottom: 15px;
	width: 100%;
	@include experimental(box-sizing, border-box);
	font-size: 100%;
}
.alerter-textarea {
	height: 10em;
}
.alerter-buttons {
}
.alerter-button, .alerter-button:hover, .alerter-button:active, .alerter-button:visited {
	background: none;
	text-decoration: none;
	border: none;
	line-height: 1.5;
	font-size: 100%;
	display: inline-block;
	cursor: pointer;
	margin-left: 5px;
}

@media only screen and (max-width: 680px) {
	.alerter, .alerter-logs, .alerter-el-logs {
		left: 5%;
		margin: 0;
		width: 90%;
		@include experimental(box-sizing, border-box);
	}
}
